<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: fragments"/>
<body>
    <div class="container">
        <div class="row ">
            <div class="main-center">
                <div th:if="${param.error}" class="alert alert-danger">
                    Invalid username or password.
                </div>
                <div th:if="${param.logout}" class="alert alert-danger">
                     You have been logged out.
                </div>
                <form class="form-signin" th:action="@{/login}" method="post">
                    <h2 class="forn-signin-heading"> Please Login!</h2>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" placeholder="Username" id ="username" name="username"/>
                    </div>
                    <div class="form-group">
                        <label for="password" >Password</label>
                        <input class="form-control" type="password" placeholder="Password" name="password" id="password"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="checkbox" name="remember-me" id="remember-me"/> Remember me
                    </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Login  <i class="fa fa-sign-in"></i></button>
                </form>

                <hr/>

                <div class="form-group">
                    <a type="submit" class="btn btn-info btn-lg btn-block login-button" th:href="@{/signup}">Sign up!</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>