<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<h1>Sign Up</h1>
<form method="post" th:action="@{/signup}">

    <div>
        <label>First Name</label><span th:errors="${user.firstName}" class="error"></span>
        <div>
            <div>
                <input type="text" th:value="${user.firstName}" name="firstName"  placeholder="Enter your first name"/>
            </div>
        </div>
    </div>

    <div>
        <label>Last Name</label><span th:errors="${user.lastName}" class="error"></span>
        <div>
            <div>
                <input type="text" th:value="${user.lastName}" name="lastName"  placeholder="Enter your last name"/>
            </div>
        </div>
    </div>

    <div>
        <label>Phone</label><span th:errors="${user.phoneNumber}" class="error"></span>
        <div>
            <div>
                <input type="text" th:value="${user.phoneNumber}" name="phoneNumber"   placeholder="xxx-xxx-xxxx"/>
            </div>
        </div>
    </div>

    <div>
        <label>Email</label><span th:if="${emailExists}">Email already exists</span><span th:if="${emailMatch}">Email doesn't Match.</span>
        <span th:errors="${user.email}" class="error"></span>
        <div>
            <div>
                <input type="text" th:value="${user.email}" name="email" placeholder="Enter your Email"/>
            </div>
        </div>
    </div>
    <div>
        <label>Verify Email</label><span th:errors="${user.verifyEmail}" class="error"></span><span th:if="${emailMatch2}">Email doesn't Match.</span>
        <div>
            <div>
                <input type="text" th:value="${user.verifyEmail}" name="verifyEmail"  placeholder="Please verify Email"/>
            </div>
        </div>
    </div>

    <div>
        <label>Username</label><span th:if="${usernameExists}">Username already exists</span><span th:errors="${user.username}" class="error"></span>
        <div>
            <div>
                <input type="text" th:value="${user.username}" name="username"   placeholder="Enter your Username"/>
            </div>
        </div>
    </div>

    <div>
        <label>Password</label><span th:errors="${user.password}" class="error"></span><span th:if="${passwordMatch}">Password doesn't Match.</span>
        <div>
            <div>
                <input type="password" th:value="${user.password}" name="password"  placeholder="Enter your Password"/>
            </div>
        </div>
    </div>
    <div>
        <label>Verify Password</label><span th:errors="${user.verifyPassword}" class="error"></span><span th:if="${passwordMatch2}">Password doesn't Match.</span>
        <div>
            <div>
                <input type="password" th:value="${user.verifyPassword}" name="verifyPassword"  placeholder="Please verify Password"/>
            </div>
        </div>
    </div>


    <div>
        <button type="submit">Sign up!</button>
    </div>
    <div>
        <a th:href="@{/}">Cancel</a>
    </div>
</form>
</body>
</html>